/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .info-box {
   padding: 2rem;
 }

 .defaults {
   padding: 2rem;
 }

 .breakpoint-group__wrap {
   border-top: 0.5rem solid #333333;
 }

 .pi-existing-sizes {
     display: flex;
     align-items: center;
     justify-content: space-between;
     box-sizing: border-box;
     flex-flow: row wrap;
 }

 .pi-image-size {
     border: 1px solid;
     flex: 0 200px;
     margin: 1rem 0;
 }

 .pi-image-size strong {
     display: block;
     padding: 0.5rem 1rem;
 }

 .pi-image-size a {
     background-color: #808992;
     color: white;
     display: block;
     text-align: center;
     padding: 0.5rem 1rem;
 }